$maincolor:#4288FB;
$darkcolor:#292c2f;
$subcolor:#FE2F5F;
$accentcolor: #FFB52F;

::selection {
    background-color: $accentcolor;
    color: #fff;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', 'Noto Sans JP', sans-serif;
    background: #fefefe;
    color: $darkcolor;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7em;
    color: rgba(41, 44, 47, 0.8);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

h1,
.h1 {
    font-size: 40px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 25px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 15px;
}

.primary_btn {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 2px solid $maincolor;
    background: $maincolor;
    border-radius: 100px;
    color: white;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;

    i {
        margin-left: 15px;
    }

    &:hover {
        opacity: 0.9;
        color: white;
    }
}

body .user-avatar-nav {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

// ------------------------------------------------


main {
    margin-top: 30px;
    margin-bottom: 100px;

    .question_mobile {
        display: none;

        .logomark {
            .logo {
                width: 20%;
                margin: 0;
                margin-bottom: 20px;
            }
        }

        img {
            width: 60%;
            margin: 0 auto;
            display: block;
        }

        h3 {
            margin: 30px 0;
            text-align: center;
            line-height: 1.5em;
        }
    }

    .navigation {
        .logomark {
            .logo {
                width: 30%;
            }
        }

        .navbar-expand-lg {
            position: relative;

            button {
                position: absolute;
                right: 0;
                top: 7px;
                border-color: transparent;
            }
        }

        ul {
            width: 100%;

            .nav_item {
                // margin: 5px 0;
                width: 100%;

                &.active {
                    color: $maincolor;

                    .nav_content {
                        .nav_box {
                            img {
                                border: 2px solid $maincolor;
                            }
                        }
                    }
                }

                .nav_block {
                    padding: 10px 0;
                    width: 100%;
                    border-radius: 50px;

                    .nav_content {
                        padding: 10px;
                        padding-left: 0;
                        max-width: 100%;

                        &:hover .nav_box {
                            background: rgba(66, 136, 251, 0.1);
                            color: $maincolor;
                        }

                        .nav_box {
                            transition-duration: 0.2s;
                            box-align: center;
                            align-items: center;
                            box-pack: center;
                            -webkit-box-direction: normal;
                            -webkit-box-orient: horizontal;
                            flex-direction: row;
                            display: flex;
                            flex-basis: auto;
                            width: fit-content;
                            border-radius: 50px;
                            padding: 3px 20px;
                            margin-left: -20px;

                            i {
                                font-size: 2rem;

                                &::before {
                                    margin-left: 0;
                                }
                            }

                            h4 {
                                margin: 0 10px;
                            }

                            img {
                                border-radius: 100%;
                                width: 2rem;
                                height: 2rem;
                                object-fit: cover;
                                margin: 10px 5px 10px 0;
                                border: 2px solid $darkcolor;
                            }
                        }
                    }
                }

                .primary_btn {
                    margin-top: 20px;
                }
            }
        }

        .accordion {
            margin: 5px 0;
            width: 100%;
            padding-top: 10px;

            .title_text {
                margin-bottom: 20px;
            }

            .card-header {
                padding: 0;

                span {
                    color: $maincolor;
                }

                button {
                    width: 100%;
                    padding: .75rem 1rem;
                    text-align: left;
                    text-decoration: none;
                    color: $darkcolor;
                    font-weight: bold;
                    position: relative;

                    i {
                        position: absolute;
                        right: 15px;

                        &::before {
                            font-weight: bold;
                        }
                    }

                    &:hover {
                        background: rgba(0, 0, 0, .1);
                    }
                }
            }

            .card-body {
                font-size: 14px;

                .card_img {
                    position: relative;
                    display: block;
                    margin-top: 10px;

                    &:hover {
                        opacity: 0.6;
                    }

                    i {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .contents_order {
        // padding-bottom: 18px;
        border-bottom: 4px solid rgba(41, 44, 47, 0.2);

        &::before {
            content: "";
            display: table;
        }

        &::after {
            content: "";
            clear: both;
            display: table;
        }

        ul {
            float: right;

            li {
                float: right;
                font-size: 14px;
                margin-right: 20px;

                &:first-child {
                    margin-right: 0;
                }

                &.active {
                    a {
                        font-weight: bold;
                        color: $maincolor;
                    }
                }

                &:hover {
                    color: $maincolor;
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }

                a {
                    display: inline-block;
                    padding-bottom: 0.75em;
                    padding-left: em;
                    text-decoration: none;
                    color: black;
                    background-color: white;
                    font-weight: bold;
                    position: relative;
                    font-size: 16px;
                }
            }
        }
    }

    article {
        padding: 15px 0 30px 0;
        border-bottom: 2px solid rgba(41, 44, 47, 0.1);

        .prof_item {
            a {
                width: 100%;

                img {
                    border-radius: 100%;
                    width: 3rem;
                    height: 3rem;
                    object-fit: cover;

                    &:hover {
                        opacity: 0.8;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                }
            }

            .entry_item {
                b {
                    background: #f5f5f5;
                    display: block;
                    margin-bottom: 6px;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 50px;
                    width: 70%;
                    padding: 2px 0;
                    margin: auto;
                    margin-top: 20px;
                }

                p {
                    margin-top: 10px;
                    margin-bottom: 0;
                }

                span {
                    font-weight: bold;
                    font-size: 2rem;
                }

                &.done {
                    b {
                        background-color: $subcolor;
                        color: white;
                    }

                    p,
                    span {
                        color: $subcolor;
                    }
                }
            }

            .answer_item {
                b {
                    background: #f5f5f5;
                    display: block;
                    margin-bottom: 6px;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 50px;
                    width: 100%;
                    padding: 2px 0;
                    margin: auto;
                    margin-top: 20px;
                }

                p {
                    margin-top: 10px;
                    margin-bottom: 0;
                }

                span {
                    font-weight: bold;
                    font-size: 2rem;
                }

                &.done {
                    b {
                        background-color: $subcolor;
                        color: white;
                    }

                    p,
                    span {
                        color: $subcolor;
                    }
                }
            }
        }

        .feed_item {
            padding-left: 0;

            h5 {
                margin-bottom: 0;

                &:hover {
                    opacity: 0.8;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }

            p {
                margin-bottom: 5px;
                font-weight: 400;
                font-size: 12px;

                i {
                    margin-right: 0.4rem;

                    &::before {
                        margin-left: 0;
                    }
                }
            }

            .feed_tag {
                display: inline-block;
                margin-bottom: 10px;
                padding: 2px 15px;
                border: 1px solid $darkcolor;
                font-size: 10px;
                border-radius: 20px;
                margin-right: 10px;

                //     &:hover {
                //         background: black;
                //         color: white;
                //         -webkit-transition: all 0.3s ease;
                //         -moz-transition: all 0.3s ease;
                //         -o-transition: all 0.3s ease;
                //         transition: all 0.3s ease;
                //     }
            }

            h4 {
                color: $maincolor;
                margin-bottom: 10px;
            }

            .feed_link {

                &:hover .feed_img,
                &:hover h4 {
                    opacity: 0.8;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                .feed_img {
                    img {
                        border-radius: 10px;
                        border: 1px solid rgba(41, 44, 47, 0.2);
                        height: 240px;
                        width: 100%;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    a {
                        display: inline-block;
                        width: 100%;
                    }

                    &.two_img {
                        img {
                            width: 49%;

                            &:first-child {
                                margin-right: 1.4%;
                                border-radius: 10px 0 0 10px;
                            }

                            &:last-child {
                                border-radius: 0 10px 10px 0;
                            }
                        }

                        a {
                            width: 49%;

                            &:first-child {
                                margin-right: 1.4%;

                                img {
                                    width: 100%;
                                    border-radius: 10px 0 0 10px;
                                }
                            }

                            &:last-child {
                                img {
                                    width: 100%;
                                    border-radius: 0 10px 10px 0;
                                }
                            }
                        }
                    }

                    &.three_img {
                        img {
                            width: 49%;

                            &:first-child {
                                width: 100%;
                                border-radius: 10px 10px 0 0;
                                margin-bottom: 10px;
                            }

                            &:nth-child(2) {
                                margin-right: 1.4%;
                                border-radius: 0 0 0 10px;
                            }

                            &:last-child {
                                border-radius: 0 0 10px 0;
                            }
                        }

                        a {
                            width: 49%;

                            &:first-child {
                                width: 100%;

                                img {
                                    width: 100%;
                                    border-radius: 10px 10px 0 0;
                                }
                            }

                            &:nth-child(2) {
                                margin-right: 1.4%;

                                img {
                                    width: 100%;
                                    border-radius: 0 0 0 10px;
                                }
                            }

                            &:last-child {
                                img {
                                    width: 100%;
                                    border-radius: 0 0 10px 0;
                                }
                            }
                        }
                    }

                    &.four_img {
                        img {
                            width: 49%;

                            &:first-child {
                                margin-right: 1.4%;
                                border-radius: 10px 0 0 0;
                                margin-bottom: 10px;
                            }

                            &:nth-child(2) {
                                border-radius: 0 10px 0 0;
                                margin-bottom: 10px;
                            }

                            &:nth-child(3) {
                                margin-right: 1.4%;
                                border-radius: 0 0 0 10px;
                            }

                            &:last-child {
                                border-radius: 0 0 10px 0;
                            }
                        }

                        a {
                            width: 49%;

                            &:first-child {
                                margin-right: 1.4%;
                                margin-bottom: 10px;

                                img {
                                    width: 100%;
                                    border-radius: 10px 0 0 0;
                                    margin-bottom: 0;
                                }
                            }

                            &:nth-child(2) {
                                margin-bottom: 10px;

                                img {
                                    width: 100%;
                                    border-radius: 0 10px 0 0;
                                    margin-bottom: 0;
                                }
                            }

                            &:nth-child(3) {
                                margin-right: 1.4%;

                                img {
                                    width: 100%;
                                    border-radius: 0 0 0 10px;
                                    margin-bottom: 0;
                                }
                            }

                            &:last-child {
                                img {
                                    width: 100%;
                                    border-radius: 0 0 10px 0;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .q_content {
            padding: 40px 0 0 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    section {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        position: relative;
        border-bottom: 1px solid rgba(41, 44, 47, 0.2);

        span {
            padding: 0 5px;
            display: inline-block;
            height: 60px;
            line-height: 62px;
            vertical-align: middle;

            &.now {
                color: $maincolor;
            }

            &.next {
                margin-left: 30px;
            }
        }
    }

    form {
        .form_top {
            padding-bottom: 15px;
            border-bottom: 4px solid rgba(41, 44, 47, 0.2);

            .title {
                border: none;
                margin: 0;
                padding: 0 15px;
                width: 100%;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .profile {
        padding: 20px 0 30px 0;
        margin-bottom: 30px;
        border-bottom: 2px solid rgba(41, 44, 47, 0.1);

        .prof_item {
            img {
                border-radius: 100%;
                width: 150px;
                height: 150px;
                object-fit: cover;

            }
        }

        .prof_item {
            padding-left: 0;

            h3 {
                margin-bottom: 10px;
            }

            .social_link {
                margin-bottom: 5px;
                font-size: 1.1rem;
                word-break: break-all;

                i {
                    margin-right: 10px;
                }

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .prof_edit {
        margin-bottom: 50px;
        padding-top: 20px;

        .col-lg-8 {
            display: flex;
        }

        .prof_a {
            cursor: pointer;
            margin-right: 30px;
            color: gray;
            border-color: gray;
            background: white;
        }
    }

    .q_content {
        padding: 20px 0 30px 0;
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(41, 44, 47, 0.1);
    }

    .question_btn {
        margin-bottom: 30px;

        span {
            font-size: 1.5rem;
        }

        .primary_btn {
            background: white;
            color: $maincolor;

            &:hover {
                color: $maincolor;
            }
        }
    }

    .evaluate_btn {
        margin-bottom: 20px;
        padding: 20px 0 30px 0;
        border-bottom: 4px solid rgba(41, 44, 47, 0.2);

        span {
            font-size: 1.5rem;
        }

        .primary_btn {
            cursor: pointer;
            background: white;
            color: $maincolor;

            &:hover {
                color: white;
                background: $maincolor;
            }

            &.best_a {
                margin-left: 30px;
                color: $subcolor;
                border-color: $subcolor;

                &:hover {
                    color: white;
                    background: $subcolor;
                }
            }
        }
    }

    .post_btn {
        padding-top: 20px;

        .primary_btn {
            cursor: pointer;

            &.post_a {
                margin-right: 30px;
                color: $subcolor;
                border-color: $subcolor;
                background: white;

                &:hover {
                    color: white;
                    background: $subcolor;
                }
            }
        }
    }

    .about {
        h4{
            line-height: 2;

            a{
                color: $maincolor;
                text-decoration: underline;
            }
        }

        .h4 {
            color: $accentcolor;
            line-height: 1.2
        }

        .about_top {
            margin-bottom: 100px;

            .about_item {
                margin-top: 30px;

                h2 {
                    font-size: 35px;
                    line-height: 50px;
                    letter-spacing: 2px;
                }
            }
        }

        .about_article {
            h2 {
                position: relative;
                padding-bottom: 20px;
                margin-bottom: 30px;
    
                &::after {
                    content: "";
                    display: block;
                    background: $maincolor;
                    width: 50px;
                    height: 7px;
                    border-radius: 40px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }

            h3 {
                color: $accentcolor;
                margin-bottom: 20px;
            }

            .about_box {
                margin-bottom: 100px;
            }
        }

        .about_btn {
            padding: 20px 0 30px 0;

            .primary_btn {
                cursor: pointer;
                color: white;

                &.best_a {
                    color: white;
                    border-color: $accentcolor;
                    background: $accentcolor;
                }
            }
        }
    }

    .company {
        section {
            margin-bottom: 50px;
            border: none;
            text-align: left;
        }

        h1 {
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px;

            &::after {
                content: "";
                display: block;
                background: $maincolor;
                width: 50px;
                height: 7px;
                border-radius: 40px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        h2 {
            color: $maincolor;
        }

        dl {
            display: flex;
            flex-wrap: wrap;
            line-height: 2;
            font-weight: bold;

            dt {
                width: 20%;
            }

            dd {
                width: 80%;
                margin-bottom: 30px;
            }
        }

        ul {
            li {
                list-style: disc;
            }
        }

        h3 {
            border-left: 5px solid $maincolor;
            padding-left: 15px;
            margin-bottom: 20px;
        }
    }


    .team {
        position: relative;
        background-color: #F4F4F4;
        padding-bottom: 20px;
        margin: 15px 0px;

        &::after {
            content: "";
            background-color: $darkcolor;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 0%;
            z-index: 1;
            -webkit-transition: 0.2s height;
            transition: 0.2s height;
        }

        .team-img {
            position: relative;
            margin-bottom: 20px;
            z-index: 11;

            img {
                width: 100%;
            }

            .overlay {
                background: $darkcolor;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                opacity: 0;
                -webkit-transition: 0.2s opacity;
                transition: 0.2s opacity;
            }
        }

        .team-content {
            text-align: center;
            position: relative;
            z-index: 11;

            h3 {
                margin-bottom: 10px;
                -webkit-transition: 0.2s color;
                transition: 0.2s color;
            }

            span {
                font-size: 14px;
                text-transform: uppercase;
                -webkit-transition: 0.2s color;
                transition: 0.2s color;
                font-weight: bold;
                padding: 0;
                display: inline-block;
                height: auto;
                line-height: normal;
                vertical-align: middle;
            }
        }

        &:hover {
            &::after {
                height: 100%;
            }

            .overlay {
                opacity: 0.8;
            }

            .team-content {
                h3 {
                    color: #FFF;
                }

                span {
                    color: $maincolor;
                }
            }

            .team-social {
                opacity: 1;

            }
        }

        .team-social {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: 0.2s opacity;
            transition: 0.2s opacity;

            a {
                display: block;
                line-height: 50px;
                width: 50px;
                text-align: center;
                background-color: $maincolor;
                color: #FFF;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.signup {
    margin: 0 auto;

    .signup_form {

        form {
            width: 100%;

            .form_group {
                position: relative;
                width: 100%;
                margin: 0 auto;

                .label_name,
                .label_mail,
                .label_pass,
                .label_repass {
                    position: absolute;
                    top: 5px;
                    left: 15px;
                    font-size: 16px;
                    color: #a0a0a0;
                    transition: all 0.25s ease;

                    &.focus {
                        top: -25px;
                        left: 5px;
                        font-size: 14px;
                        color: $maincolor;
                    }
                }

                .textbox_name,
                .textbox_mail,
                .textbox_pass,
                .textbox_repass {
                    position: relative;
                    display: block;
                    width: 100%;
                    margin-top: 35px;
                    padding: 5px 15px;
                    border: none;
                    font-size: 16px;
                    color: #000;
                    outline: none;
                    background: #fff;
                    border-bottom: 1px solid #ccc;

                    &:hover {
                        border-bottom: 1px solid $maincolor;
                    }
                }

                .agree {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    margin-bottom: 15px;
                    cursor: pointer;
                    letter-spacing: 1px;
                    font-size: 13px;

                    .privacy_policy {
                        color: $maincolor;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .agree_cbox {
                        position: absolute;
                        top: 0px;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        background: #e6e6e6;

                        &::after {
                            left: 8px;
                            top: 4px;
                            width: 5px;
                            height: 11px;
                            border: solid #fff;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                            content: '';
                            position: absolute;
                            display: none;
                        }
                    }

                    input {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;

                        &:checked~.agree_cbox {
                            background: $maincolor;

                            &::after {
                                display: block;
                            }
                        }
                    }
                }
            }

            .form_pass {
                font-size: 12px;
                color: #999;

                a {
                    color: $maincolor;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .social_login {
        margin-top: 20px;

        span {
            margin-right: 15px;
            display: inline-block;
        }

        .social_icon {
            display: flex;

            li {
                width: 50%;
                margin-bottom: 20px;

                &:hover {
                    opacity: 0.8;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                a {
                    width: 100%;
                    display: inline-block;
                    font-size: 20px;
                    color: #ffffff;
                    text-align: center;
                    margin-left: 3px;
                    position: relative;
                    padding: 10px;
                    font-weight: bold;
                }

                i {
                    margin-right: 10px;
                }

                .fb {
                    background-color: #3B5998;
                }

                .gg {
                    background-color: #DB4437;
                }
            }
        }
    }

    .signup_img {
        text-align: center;
        margin-top: 40px;

        .img_link {
            font-size: 14px;
            color: $maincolor;
            text-decoration: underline;
            display: block;
            text-align: center;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.title_text {
    border-bottom: 4px solid rgba(41, 44, 47, 0.2);

    h2 {
        text-transform: capitalize;
    }
}

footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 45px 30px;
    margin-top: 80px;

    .footer-links {
        margin: 0 0 10px;
        padding: 0;

        a {
            font-size: 18px;
            color: #fff;
            font-weight: bold;
        }

        a:hover {
            color: $maincolor;
        }

        p {
            font-size: 14px;
            color: #fff;
            opacity: 0.6;
        }
    }

    p {
        color: #8f9296;
        font-size: 14px;
        margin: 0;
    }
}

#tabcontrol {
    margin: 0;

    a {
        display: inline-block;
        border-radius: 0.75em 0.75em 0 0;
        padding: 0.75em 1em;
        padding-left: 0;
        text-decoration: none;
        color: black;
        background-color: white;
        font-weight: bold;
        position: relative;
    }
}

#tabbody {
    .tabpage {
        padding-top: 1rem;
        background-color: white;
        position: relative;
        z-index: 0;

        h3 {
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px;

            &::after {
                content: "";
                display: block;
                background: $maincolor;
                width: 50px;
                height: 7px;
                border-radius: 40px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        p {
            line-height: 1.9rem;

            span {
                font-weight: bold;
                color: rgb(41, 44, 47);
            }
        }

        h4 {
            border-left: 5px solid $maincolor;
            padding: 5px 0;
            padding-left: 15px;
            margin-bottom: 20px;
            margin-top: 50px;
        }

        h5 {
            i {
                font-size: 1.5rem;
                color: $accentcolor;

                &::before {
                    margin-left: 0;
                    margin-right: 0.8rem;
                }
            }
        }

        ul {
            padding-left: 35px;
            margin-bottom: 30px;

            li {
                line-height: 2rem;
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    main {
        article {
            .feed_item {
                .feed_link {
                    .feed_img {
                        &.two_img {
                            img:first-child {
                                margin-right: 1.3%;
                            }

                            a {
                                &:first-child {
                                    margin-right: 1.3%;
                                }
                            }
                        }

                        &.three_img {
                            img:nth-child(2) {
                                margin-right: 1.3%;
                            }

                            a {
                                &:nth-child(2) {
                                    margin-right: 1.3%;
                                }
                            }
                        }

                        &.four_img {

                            img:first-child,
                            img:nth-child(3) {
                                margin-right: 1.3%;
                            }

                            a {

                                &:first-child,
                                &:nth-child(3) {
                                    margin-right: 1.3%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    main {
        margin-top: 30px;
        margin-bottom: 100px;

        .navigation {
            margin-bottom: 50px;

            .logomark {
                .logo {
                    width: 15%;
                }
            }

            .navbar-expand-lg {
                position: relative !important;
                top: 0 !important;
            }
        }

        .unknown {
            display: none !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    main {
        .navigation {
            margin-bottom: 30px;

            .navbar-expand-lg {
                button {
                    top: -6px;
                }
            }

            ul {
                .nav_item {
                    .primary_btn {
                        display: none;
                    }
                }
            }
        }

        article {
            .col-2 {
                flex: 0 0 25%;
                max-width: 25%;
            }

            .col-10 {
                flex: 0 0 75%;
                max-width: 75%;

            }

            .prof_item {
                .entry_item {
                    b {
                        width: 100%;
                    }

                    p {
                        margin-top: 5px;
                    }
                }
            }

            .feed_item {
                .feed_link {
                    h4 {
                        font-size: 15px;
                    }

                    .feed_img {
                        img {
                            height: 120px;
                        }

                        &.two_img {
                            img:first-child {
                                margin-right: 0.4%;
                            }

                            a {
                                &:first-child {
                                    margin-right: 0.4%;
                                }
                            }
                        }

                        &.three_img {
                            img:nth-child(2) {
                                margin-right: 0.4%;
                            }

                            a {
                                &:nth-child(2) {
                                    margin-right: 0.4%;
                                }
                            }
                        }

                        &.four_img {

                            img:first-child,
                            img:nth-child(3) {
                                margin-right: 0.4%;
                            }

                            a {

                                &:first-child,
                                &:nth-child(3) {
                                    margin-right: 0.4%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .question_btn {
            h5 {
                font-size: 13px;
            }

            span {
                font-size: 1.3rem;
            }
        }

        .evaluate_btn {
            .primary_btn {
                &.best_a {
                    display: none;
                }
            }
        }

        .comment {
            display: none;
        }

        .about {
            .about_top {
                .about_item {
                    h2 {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }
            }

            .title_text {
                h2 {
                    font-size: 20px;
                }
            }

            .about_btn {
                .col-md-6 {
                    &:first-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .company {
            dl {
                dt {
                    width: 30%;
                }

                dd {
                    width: 70%;
                }
            }
        }

        .profile {
            padding: 20px 0 30px 0;
            margin-bottom: 30px;
            border-bottom: 2px solid rgba(41, 44, 47, 0.1);

            .prof_item {
                img {
                    width: 3rem;
                    height: 3rem;

                }
            }

            .prof_item {
                padding-left: 15px;

                &:last-child {
                    padding-left: 0;
                }
            }
        }

        .prof_edit {
            .primary_btn {
                margin-right: 0;

                &:last-child {
                    display: none;
                }
            }
        }

        .question_pc {
            display: none;
        }

        .question_mobile {
            display: block;
        }
    }

    .signup {
        .social_login {
            .social_icon {
                display: block;

                li {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}