::selection {
  background-color: #4288FB;
  color: #fff;
}

html {
  height: 100%;
}

body {
  font-family: 'Lato', 'Noto Sans JP', sans-serif;
  background: #fefefe;
  color: #292c2f;
}

p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.7em;
  color: rgba(41, 44, 47, 0.8);
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 25px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 15px;
}

.primary_btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border: 1px solid rgba(104, 155, 238, 0.3);
  background-color: #4288FB;
  border-radius: 100px;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
}

main {
  margin-top: 30px;
  margin-bottom: 100px;
}

main .navigation .logomark .logo {
  width: 30%;
}

main .navigation .nav_item {
  margin: 5px 0;
  width: 100%;
}

main .navigation .nav_item .nav_block {
  padding: 10px 0;
  width: 100%;
}

main .navigation .nav_item .nav_block.active {
  color: #4288FB;
}

main .navigation .nav_item .nav_block.active img {
  border: 2px solid #4288FB;
}

main .navigation .nav_item .nav_block .nav_content {
  padding: 10px;
  padding-left: 0;
  max-width: 100%;
  transition-duration: 0.2s;
  box-align: center;
  align-items: center;
  box-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  display: flex;
  flex-basis: auto;
}

main .navigation .nav_item .nav_block .nav_content i {
  font-size: 2rem;
}

main .navigation .nav_item .nav_block .nav_content i::before {
  margin-left: 0;
}

main .navigation .nav_item .nav_block .nav_content h4 {
  margin: 0 10px;
}

main .navigation .nav_item .nav_block .nav_content img {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 10px 5px 10px 0;
  border: 2px solid #292c2f;
}

main .navigation .nav_item .primary_btn {
  margin-top: 30px;
}

main .navigation .nav_item .primary_btn i {
  margin-left: 15px;
}

main .navigation .nav_item .primary_btn:hover {
  opacity: 0.9;
  color: white;
}

main .contents .contetns_order {
  padding-bottom: 18px;
  border-bottom: 4px solid rgba(41, 44, 47, 0.2);
}

main .contents .contetns_order::before {
  content: "";
  display: table;
}

main .contents .contetns_order::after {
  content: "";
  clear: both;
  display: table;
}

main .contents .contetns_order h6 {
  opacity: 0.4;
  margin-bottom: 0;
  margin-right: 40px;
  align-items: center;
  align-content: center;
  text-align: right;
  float: right;
}

main .contents .contetns_order ul {
  float: right;
}

main .contents .contetns_order ul li {
  margin-right: 15px;
  float: right;
  font-size: 14px;
}

main .contents .contetns_order ul li:first-child {
  margin-right: 0;
}

main .contents .contetns_order ul li.active {
  font-weight: bold;
  color: #4288FB;
}

main article {
  padding: 15px;
  padding-left: 0;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(41, 44, 47, 0.1);
}

main article .prof_item a {
  width: 100%;
}

main article .prof_item a img {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

main article .prof_item .entry_item b {
  background: #f5f5f5;
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 50px;
  width: 70%;
  padding: 2px 0;
  margin: auto;
  margin-top: 20px;
}

main article .prof_item .entry_item p {
  margin-top: 10px;
  margin-bottom: 0;
}

main article .prof_item .entry_item span {
  font-weight: bold;
  font-size: 2rem;
}

main article .prof_item .entry_item.done b {
  background-color: #FE2F5F;
  color: white;
}

main article .prof_item .entry_item.done p,
main article .prof_item .entry_item.done span {
  color: #FE2F5F;
}

main article .feed_item {
  padding-left: 0;
}

main article .feed_item h5 {
  margin-bottom: 10px;
}

main article .feed_item h4 {
  color: #4288FB;
  margin-bottom: 10px;
}

main article .feed_item .feed_tag {
  display: flex;
  margin-bottom: 20px;
}

main article .feed_item .feed_tag span {
  padding: 2px 15px;
  border: 1px solid #292c2f;
  font-size: 10px;
  border-radius: 20px;
  margin-right: 10px;
}

main article .feed_item .feed_img img {
  border-radius: 10px;
  border: 1px solid rgba(41, 44, 47, 0.2);
  height: 240px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

main article .feed_item .feed_img.two_img img {
  width: 49%;
}

main article .feed_item .feed_img.two_img img:first-child {
  margin-right: 1%;
  border-radius: 10px 0 0 10px;
}

main article .feed_item .feed_img.two_img img:last-child {
  border-radius: 0 10px 10px 0;
}

main nav {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: relative;
  border-bottom: 1px solid rgba(41, 44, 47, 0.2);
}

main nav span {
  padding: 0 5px;
  display: inline-block;
  height: 60px;
  line-height: 62px;
  vertical-align: middle;
}

main nav span.now {
  color: #4288FB;
}

main nav span.next {
  margin-left: 30px;
}

main .feed_form form .form_top {
  padding-bottom: 15px;
  border-bottom: 4px solid rgba(41, 44, 47, 0.2);
}

main .feed_form form .form_top .title {
  border: none;
  margin: 0;
  padding: 0 15px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 45px 5%;
  margin-top: 80px;
}

footer .footer-left .footer-links {
  margin: 0 0 10px;
  padding: 0;
}

footer .footer-left .footer-links a {
  font-size: 18px;
  color: #fff;
}

footer .footer-left .footer-links a:hover {
  color: #4288FB;
}

footer .footer-left .footer-links p {
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
}

footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

footer a:hover {
  color: #4288FB;
}

@media (max-width: 600px) {
  footer .footer-left,
  footer .footer-right {
    text-align: center;
  }
  footer .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  footer .footer-left p.footer-links {
    line-height: 1.8;
  }
}
