$maincolor:#4288FB;
$darkcolor:#1d3256;

::selection {
    background-color: $maincolor;
    color: #fff;
}

body {
    font-family: 'Lato', 'Noto Sans JP', sans-serif;
    background: #fefefe;
    color: #1d3256;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


// navbar
.navbar {
    padding: 0 5%;
    min-height: 80px;
    background: #fefefe;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(228, 228, 228);
    position: sticky;
    position: -webkit-sticky;

    .logo {
        width: 50px;
        height: 80px;
    }

    .nav-list {
        // これがあるとハンバーガーメニューが気持ち悪い
        height: 80px;
        position: relative;

        ul {
            // これがあるとハンバーガーメニューが気持ち悪い
            position: absolute;
            right: 0;
            font-size: 0;
            padding: 0 10px;
            align-items: center;
            height: 100%;
            list-style: none;
            text-align: center;
        }

        li {
            font-size: 17px;
            margin: 0 8px;
            display: inline-block;
            height: 100%;

            a {
                padding: 0;
                height: 100%;
                color: #1D3256;
                display: block;
                position: relative;
                align-items: center;
                display: grid;

                img {
                    user-select: none;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    height: 33px;
                    width: 33px;
                    object-fit: cover;
                }

                &:before,
                &:after {
                    content: '';
                    width: 0;
                    bottom: 0;
                    transition: all 0.3s ease;
                    border-bottom: 3px solid #000;
                    position: absolute;
                    display: block;
                }

                &:hover:before,
                &:hover:after {
                    width: 50%;
                    border-bottom: 3px solid #000;
                }

                &:before {
                    left: 50%;
                }

                &:after {
                    right: 50%;
                }

            }
        }
    }

}

@media (max-width: 992px) {

    .navbar {


        .nav-list {
            height: auto;

            ul {
                position: inherit;

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .navbar-light {
        .navbar-toggler {
            border: none;

            i {
                font-size: 40px;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;

            }

            &:hover i{
                color: $maincolor;
            }
        }
    }
}

// navbar


// title 
main {
    margin-bottom: 100px;

    .title-text {
        margin-bottom: 40px;
    }

}

// title 



// products-card

.cont_modal {
    position: relative;
    width: 700px;
    height: 400px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;


    .cont_photo {
        position: relative;
        width: 300px;
        height: 440px;
        overflow: hidden;
        background-color: #eee;
        border-radius: 5px;
        top: -20px;
        float: left;
        z-index: 2;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        transition: all 0.5s;
        box-shadow: 10px 10px 70px -5px rgba(0, 0, 0, 0.3);

        .cont_img_back {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;

            img {
                width: 100%;
                opacity: 0.7;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                transition: all 1s;
            }

            &:hover>img {
                transform: scale(1.5);
            }
        }

        .cont_detalles {
            position: absolute;
            bottom: 0px;
            height: 150px;
            border-radius: 5px;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
            text-align: center;
            width: 100%;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            transition-delay: 1.2s;
            -webkit-transition-delay: 0.7s;
            -o-transition-delay: 0.7s;
            transition-delay: 0.7s;

            h3 {
                margin-top: 75px;
                color: #fff;
                font-size: 24px;
            }

            // p {
            //   color: #fff;
            //   width: 80%;
            //   text-align: left;
            //   font-size: 14px;
            // } 
        }

    }

    .cont_text_ingredients {
        position: absolute;
        width: 410px;
        top: 0px;
        left: 285px;
        z-index: 1;
        margin-left: 10px;
        height: 400px;
        float: left;
        border-radius: 5px;
        box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
        background: rgb(251, 249, 249);
        background: -moz-linear-gradient(-45deg, rgba(251, 249, 249, 1) 28%, rgba(232, 234, 237, 1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(251, 249, 249, 1) 28%, rgba(232, 234, 237, 1) 100%);
        background: linear-gradient(135deg, rgba(251, 249, 249, 1) 28%, rgba(232, 234, 237, 1) 100%);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        transition-delay: 0.7s;

        .cont_over_hidden {
            position: relative;
            float: left;
            width: 100%;
            height: 400px;

            .cont_tabs {
                position: relative;
                float: left;
                width: 410px;
                height: 60px;
                border-bottom: 2px solid rgba(66, 136, 251, 0.1);


                ul {
                    width: 300px;
                    background-color: #eee;

                    li {
                        position: absolute;
                        right: 0;
                        margin-right: 20px;
                        list-style: none;
                        border-top: 7px solid $maincolor;

                        a {
                            position: relative;
                            display: block;
                            float: left;
                            padding-top: 5px;
                            color: $darkcolor;
                            text-decoration: none;
                            font-size: 14px;

                            cursor: default;
                        }
                    }
                }
            }

            .cont_text_det_preparation {
                position: relative;
                width: 410px;

                .cont_title_preparation {
                    position: relative;
                    float: left;
                    margin: 10px 0px;
                    width: 410px;

                    p {
                        font-weight: 700;
                        font-size: 14px;
                        margin-bottom: 0;
                        margin-left: 40px;
                        text-align: left;
                        color: $darkcolor;
                    }
                }

                .cont_info_preparation {
                    position: relative;
                    float: left;

                    p {
                        margin: 5px 0px;
                        margin-left: 50px;
                        border-left: 2px solid rgba(66, 136, 251, 0.1);
                        font-size: 12px;
                        padding: 20px 20px;
                        text-align: left;
                        color: #555;
                    }
                }
            }

            .cont_btn_mas_dets {
                position: absolute;
                bottom: -20px;
                left: 33%;
                text-align: center;
                right: 33%;
                padding: 10px 20px;
                background-color: #fff;
                border-radius: 50px;
                overflow: hidden;
                color: #555;

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    content: '';
                    width: 120%;
                    height: 100%;
                    background: $maincolor;
                    transform-origin: right top;
                    transform: skewX(-30deg) scale(0, 1);
                    transition: transform .3s;
                }

                &:hover {
                    background-color: transparent;
                    color: #fff;

                    &::after {
                        transform-origin: left top;
                        transform: skewX(-30deg) scale(1, 1);
                    }
                }
            }
        }
    }
}


@media (max-width: 992px) {
    .cont_modal {
        width: 100%;
        height: 100%;

        .cont_photo {
            top: 0;
            width: 100%;
            height: 300px;
            box-shadow: none;
            border-radius: 0;
            float: inherit;

            .cont_detalles {
                border-radius: 0;
            }

            .cont_img_back {
                &:hover>img {
                    transform: scale(1);
                }
            }

        }

        .cont_text_ingredients {
            position: inherit;
            margin-left: 0;
            width: 100%;
            left: 0;
            box-shadow: none;
            border-radius: 0;
            float: inherit;
            height: 100%;

            .cont_over_hidden {
                float: inherit;
                height: 100%;

                .cont_tabs {
                    width: 100%;
                    float: inherit;

                    ul {
                        li {
                            left: 0;
                            right: auto;
                            margin-left: 40px;
                        }
                    }
                }

                .cont_text_det_preparation {
                    width: 100%;

                    .cont_title_preparation {
                        width: 100%;
                        float: inherit;
                    }

                    .cont_info_preparation {
                        float: inherit;

                        p {
                            margin-right: 40px;
                            padding-bottom: 30px;

                        }
                    }
                }

                .cont_btn_mas_dets {
                    box-shadow: 10px 10px 70px -5px rgba(0, 0, 0, 0.3);
                    width: 90%;
                    left: 0;
                    right: 0;
                    margin: 0 5%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .cont_modal {
        .cont_text_ingredients {
            .cont_over_hidden {
                .cont_text_det_preparation {
                    .cont_info_preparation {
                        p {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

// products-card







// footer

footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 45px 5%;
    margin-top: 80px;

    .footer-left {

        .footer-links {
            margin: 0 0 10px;
            padding: 0;

            a {
                font-size: 18px;
                color: #fff;
            }

            a:hover {
                color: $maincolor;
            }

            p {
                font-size: 14px;
            }

        }

    }

    .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-left: 3px;
        }
    }

    a:hover {
        color: $maincolor;
    }
}

@media (max-width: 600px) {

    footer {

        .footer-left,
        .footer-right {
            text-align: center;
        }

        .footer-right {
            float: none;
            margin: 0 auto 20px;
        }

        .footer-left p.footer-links {
            line-height: 1.8;
        }
    }

}

// footer




// products_show
.product-show {
    box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;

    .product_row {
        margin: 0;

        .product-img {
            height: 400px;
            background-image: url("../img/products-thumnail1.png");
            background-size: cover;
        }

        .product-info {
            height: 400px;
            padding-left: 40px;
            background-color: #fff;



            .product-text {
                h4 {
                    padding-top: 52px;
                }

                h6 {
                    display: inline-block;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    border-bottom: 7px solid $maincolor;
                    text-transform: uppercase;
                    color: #d2d2d2;
                    letter-spacing: 0.2em;
                }

                p {
                    line-height: 1.7em;
                    padding-right: 40px;
                }
            }

            .product-time {
                margin-top: 30px;

                span {
                    color: $maincolor;
                }
            }
        }
    }

    .progressbar_show {
        padding: 30px 35px;
        position: relative;
        margin: 0 -15px;

        .progress_item {
            border-radius: 30px;
            height: 30px;
        }

        .btn-demo {

            .cont_btn_mas_dets {
                position: absolute;
                bottom: -27px;
                right: 15px;
                border: 1px solid rgba(104, 155, 238, 0.2);
                padding: 15px 30px;
                background-color: #fff;
                border-radius: 5px;
                overflow: hidden;
                color: #555;

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    content: '';
                    width: 120%;
                    height: 100%;
                    background: $maincolor;
                    transform-origin: right top;
                    transform: skewX(-30deg) scale(0, 1);
                    transition: transform .3s;
                }

                &:hover {
                    background-color: transparent;
                    color: #fff;

                    &::after {
                        transform-origin: left top;
                        transform: skewX(-30deg) scale(1, 1);
                    }
                }
            }
        }
    }

}

@media (max-width: 992px) {
    .product-show {
        .product_row {
            margin: 0;

            .product-img {
                height: 300px;
            }
        }

        .progressbar_show {
            .btn-demo {
                margin-top: 30px;

                .cont_btn_mas_dets {
                    position: inherit;
                    bottom: auto;
                    right: auto;
                    width: 100%;
                }
            }
        }
    }
}

// products_show





// material-list

.material-list {
    margin: 0;

    .list-group {
        .list-title {
            height: 100px;
            padding-top: 37px;
            padding-bottom: 37px;
            z-index: 2;
            color: #fff;
            background-color: #292c2f;
            border-left: 5px solid $maincolor;

            span {
                font-weight: bold;
            }
        }

        .list-item {
            height: 70px;
            padding-top: 21px;
            padding-bottom: 21px;

            &:hover {
                background-color: #fefefe;
            }

            &.active {
                background-color: #F1F6FE;
                color: $maincolor;
                border: 1px solid rgba(0, 0, 0, .125);
                border-left: 5px solid $maincolor;

            }
        }
    }
}

// material-list




// user

.user-show {
    box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;

    .user_row {
        margin: 0;

        .user-img {
            height: 500px;
            background-image: url("../img/sample-icon.jpg");
            background-size: cover;
        }

        .user-info {
            height: 500px;
            padding-left: 40px;
            background-color: #fff;

            .user-text {
                h5 {
                    padding-top: 120px;
                    color: $darkcolor;
                    opacity: 0.7;
                }

                h3 {
                    letter-spacing: 0.2em;
                    padding-bottom: 30px;
                }

                p {
                    line-height: 2em;
                    padding-right: 40px;
                    font-size: 85%;
                }
            }

            .user-time {
                margin-top: 30px;

                span {
                    color: $maincolor;
                }
            }
        }
    }
}

// user






// carousels

.slides {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: block;
    background-color: #4288FB;

    .slides-container {
        position: absolute;
        top: 15px;
        bottom: 15px;
        right: 15px;
        left: 15px;

        .slides-bg {
            background: -moz-radial-gradient(center, circle cover, #f2fcff 0%, #add9e4 100%);
            background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, #f2fcff), color-stop(100%, #add9e4));
            background: -webkit-radial-gradient(center, circle cover, #f2fcff 0%, #add9e4 100%);
            background: -o-radial-gradient(center, circle cover, #f2fcff 0%, #add9e4 100%);
            background: -ms-radial-gradient(center, circle cover, #f2fcff 0%, #add9e4 100%);
            background: radial-gradient(center, circle cover, #f2fcff 0%, #add9e4 100%);
            background-color: #f2fcff;
            z-index: 90;
            font-size: 36px;
            height: 100%;

            .slides-content {
                position: absolute;
                display: block;
                width: 100%;
                margin: auto;
                padding: 7% 5%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                section {
                    height: 100%;
                    position: relative;

                    .slides-text {

                        color: #3f4348;
                        line-height: 1.6;
                        font-size: 47.65%;
                        margin-top: 0;

                        span {
                            color: #00a3d3;
                        }
                    }

                    .slide-materials{
                        height:100%;           
                    }

                    .slide-materials-carousel{
                        height: 100%;
                        display: none;
                    }

                    .slides-images {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        text-align: center;

                        .slides-one-item {
                            // 13inc
                            // padding: 0 300px;
                            max-width: 650px;
                            display: inline-block;

                            .slide-modal {}
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 992px) {
    .slides{
        .slides-container{
            .slides-bg{
                .slides-content{
                    section{
                        .slide-materials{
                            display: none;
                        }

                        .slide-materials-carousel{
                            display: block;
                        }
                    }
                }
            }
        }
    } 
}

// carousels