::selection {
  background-color: #4288FB;
  color: #fff; }

body {
  font-family: 'Lato', 'Noto Sans JP', sans-serif;
  background: #fefefe;
  color: #1d3256; }

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999; }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.navbar {
  padding: 0 30px;
  min-height: 80px;
  background: #fefefe;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #e4e4e4;
  position: sticky; }
  .navbar .logo {
    width: 50px;
    height: 80px; }
  .navbar .nav-list {
    height: 80px;
    position: relative; }
    .navbar .nav-list ul {
      position: absolute;
      right: 0;
      font-size: 0;
      padding: 0 10px;
      align-items: center;
      height: 100%;
      list-style: none;
      text-align: center; }
    .navbar .nav-list li {
      font-size: 17px;
      margin: 0 8px;
      display: inline-block;
      height: 100%; }
      .navbar .nav-list li a {
        padding: 0;
        height: 100%;
        color: #1D3256;
        display: block;
        position: relative;
        align-items: center;
        display: grid; }
        .navbar .nav-list li a img {
          user-select: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          height: 33px;
          width: 33px;
          object-fit: cover; }
        .navbar .nav-list li a:before, .navbar .nav-list li a:after {
          content: '';
          width: 0;
          bottom: 0;
          transition: all 0.3s ease;
          border-bottom: 3px solid #000;
          position: absolute;
          display: block; }
        .navbar .nav-list li a:hover:before, .navbar .nav-list li a:hover:after {
          width: 50%;
          border-bottom: 3px solid #000; }
        .navbar .nav-list li a:before {
          left: 50%; }
        .navbar .nav-list li a:after {
          right: 50%; }

main .title-text {
  margin-bottom: 40px; }

.cont_modal {
  position: relative;
  width: 700px;
  height: 400px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s; }

.cont_modal_active > .cont_text_ingredients {
  width: 410px;
  left: 285px;
  z-index: 1;
  box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2); }

.cont_modal_active > .cont_photo > .cont_servings {
  opacity: 1; }

.cont_modal_active > .cont_photo > .cont_detalles {
  bottom: 0px; }

.cont_photo {
  position: relative;
  width: 300px;
  height: 440px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 5px;
  top: -20px;
  float: left;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.3); }

.cont_img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px; }

.cont_img_back > img {
  width: 100%;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 1s; }

.cont_img_back:hover > img {
  transform: scale(1.5); }

.cont_text_ingredients {
  position: absolute;
  width: 0px;
  top: 0px;
  left: 290px;
  margin-left: 10px;
  height: 400px;
  float: left;
  border-radius: 5px;
  z-index: 3;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf9f9+28,e8eaed+100 */
  background: #fbf9f9;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fbf9f9 28%, #e8eaed 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fbf9f9 28%, #e8eaed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fbf9f9 28%, #e8eaed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9f9', endColorstr='#e8eaed', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s; }

.cont_detalles {
  position: absolute;
  bottom: -185px;
  height: 150px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1.2s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s; }

.cont_detalles > h3 {
  margin-top: 75px;
  color: #fff;
  font-size: 24px; }

/* .cont_detalles>p {
  color: #fff;
  width: 80%;
  text-align: left;
  font-size: 14px;
} */
/* ---------------- Css Tabs -------- */
.cont_tabs {
  position: relative;
  float: left;
  width: 410px;
  height: 60px;
  border-bottom: 3px solid #EDEDEC; }

.cont_tabs > ul {
  width: 300px;
  background-color: #eee; }

.cont_tabs > ul > li {
  position: absolute;
  right: 0;
  margin-right: 20px;
  list-style: none;
  border-top: 7px solid #ED346C; }

.cont_tabs > ul > li > a {
  position: relative;
  display: block;
  float: left;
  padding-top: 15px;
  color: #241C3E;
  text-decoration: none;
  font-size: 14px; }

.cont_title_preparation {
  position: relative;
  float: left;
  margin: 10px 0px;
  width: 410px; }

.cont_title_preparation > p {
  font-weight: 700;
  font-size: 14px;
  margin-left: 40px;
  text-align: left;
  color: #36354E; }

.cont_info_preparation {
  position: relative;
  float: left; }

.cont_info_preparation > p {
  margin: 5px 0px;
  margin-left: 50px;
  border-left: 2px solid #E3E3E3;
  font-size: 12px;
  padding: 20px 0px;
  padding-left: 20px;
  text-align: left;
  padding-right: 15px;
  color: #565656; }

.cont_over_hidden {
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
  overflow: hidden; }

.cont_text_det_preparation {
  position: relative;
  width: 410px; }

footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 45px 50px;
  margin-top: 80px; }
  footer .footer-left .footer-links {
    margin: 0 0 10px;
    padding: 0; }
    footer .footer-left .footer-links a {
      font-size: 18px;
      color: #fff; }
    footer .footer-left .footer-links a:hover {
      color: #4288FB; }
    footer .footer-left .footer-links p {
      font-size: 14px; }
  footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px; }
    footer .footer-right a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-left: 3px; }
  footer a:hover {
    color: #4288FB; }

@media (max-width: 600px) {
  footer .footer-left,
  footer .footer-right {
    text-align: center; }
  footer .footer-right {
    float: none;
    margin: 0 auto 20px; }
  footer .footer-left p.footer-links {
    line-height: 1.8; } }

/*# sourceMappingURL=style.css.map */
